Question 1
Create a function that takes a number as an argument and returns True or False depending on whether the number is symmetrical or not. A number is symmetrical when it is the same as its reverse.
Examples
is_symmetrical(7227) ➞ True

is_symmetrical(12567) ➞ False

is_symmetrical(44444444) ➞ True

is_symmetrical(9939) ➞ False

is_symmetrical(1112111) ➞ True

In [7]:
#Ans:-1

def is_symmetrical(n):
    rev = str(n)[::-1]
    if rev == str(n):
        print(f'{n} ➞ {True}')
    else:
        print(f'{n} ➞ {False}')
        
is_symmetrical(7227)

is_symmetrical(12567)

is_symmetrical(44444444)

is_symmetrical(9939)

is_symmetrical(1112111)

7227 ➞ True
12567 ➞ False
44444444 ➞ True
9939 ➞ False
1112111 ➞ True

Question 2
Given a string of numbers separated by a comma and space, return the product of the numbers.
Examples
multiply_nums("2, 3") ➞ 6

multiply_nums("1, 2, 3, 4") ➞ 24

multiply_nums("54, 75, 453, 0") ➞ 0

multiply_nums("10, -2") ➞ -20

In [8]:
#Ans:-2
def multiply_nums(s):
    s = s.replace(' ', "")
    s = s.split(',')
    su = 1
    for i in s:
        su = su*int(i)
    print(f'{s} ➞ {su}')
    

multiply_nums("1, 2, 3, 4")

multiply_nums("54, 75, 453, 0")

multiply_nums("10, -2")

['1', '2', '3', '4'] ➞ 24
['54', '75', '453', '0'] ➞ 0
['10', '-2'] ➞ -20

Question 3
Create a function that squares every digit of a number.
Examples
square_digits(9119) ➞ 811181

square_digits(2483) ➞ 416649

square_digits(3212) ➞ 9414
Notes
The function receives an integer and must return an integer.

In [9]:
Ans:-3

def square_digits(num):
    z = ''.join(str(int(i)**2) for i in str(num))
    print(f'{num} ➞ {int(z)}')

square_digits(9119)

square_digits(2483)

square_digits(3212)

9119 ➞ 811181
2483 ➞ 416649
3212 ➞ 9414

Question 4
Create a function that sorts a list and removes all duplicate items from it.
Examples
setify([1, 3, 3, 5, 5]) ➞ [1, 3, 5]

setify([4, 4, 4, 4]) ➞ [4]

setify([5, 7, 8, 9, 10, 15]) ➞ [5, 7, 8, 9, 10, 15]

setify([3, 3, 3, 2, 1]) ➞ [1, 2, 3]

In [10]:
#Ans:-4
def setify(n):
    z = list(set(n))
    print(f'{n} ➞ {z}')
    
setify([1, 3, 3, 5, 5])

setify([4, 4, 4, 4])

setify([5, 7, 8, 9, 10, 15])

setify([3, 3, 3, 2, 1])

[1, 3, 3, 5, 5] ➞ [1, 3, 5]
[4, 4, 4, 4] ➞ [4]
[5, 7, 8, 9, 10, 15] ➞ [5, 7, 8, 9, 10, 15]
[3, 3, 3, 2, 1] ➞ [1, 2, 3]

Question 5
Create a function that returns the mean of all digits.
Examples
mean(42) ➞ 3

mean(12345) ➞ 3

mean(666) ➞ 6
Notes
•	The mean of all digits is the sum of digits / how many digits there are (e.g. mean of digits in 512 is (5+1+2)/3(number of digits) = 8/3=2).
•	The mean will always be an integer.

In [17]:
#Ans:5

def mean(n):
    N = len(str(n))
    sum = mean = 0
    
    for i in str(n):
        sum += int(i)
    print(f'{n} ➞ {int(sum/N)}' )

mean(42)

mean(12345)

mean(666)

42 ➞ 3
12345 ➞ 3
666 ➞ 6